@define-color clocks_continue_color #5f8dd3;
@define-color clocks_start_color #006B09;
@define-color clocks_lap_color #999999;
@define-color clocks_stop_color #ff0000;

.black-bg {
    background-color: mix (@entry-color,
                           shade (#000, 0.5),
                           0.8);
    color: #ffffff;
}

.clocks-continue {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@clocks_continue_color),
                                     to (darker (@clocks_continue_color)));
    color: #ffffff;
    border-image: none;
    border-width: 0;
}


.clocks-continue:active {
    background-image: -gtk-gradient (linear,
                                     left bottom, left top, 
                                     from (@clocks_continue_color),
                                     to (darker (@clocks_continue_color)));
    color: #ffffff;
    border-image: none;
    border-width: 0;
}

.clocks-start {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@clocks_start_color),
                                     to (darker (@clocks_start_color)));
    color: #ffffff;
    border-image: none;
    border-width: 0;
}

.clocks-lap {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@clocks_lap_color),
                                     to (darker (@clocks_lap_color)));
    color: #ffffff;
    border-image: none;
    border-width: 0;
}

.clocks-stop {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@clocks_stop_color),
                                     to (darker (@clocks_stop_color)));
    color: #ffffff;
    border-image: none;
    border-width: 0;
}

