@define-color clocks_go_color_a #7fc141;
@define-color clocks_go_color_b #8fc95d;
@define-color clocks_stop_color_a #f44848;
@define-color clocks_stop_color_b #ff6565;

.clocks-toolbar.toolbar {
    border-style: solid;
    border-color: @borders;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.clocks-toolbar.selection-mode.toolbar {
    border-width: 1px 0;
}

.clocks-digital-renderer {
    background-color: transparent;
    border-radius: 12px;
}

.clocks-digital-renderer.inner {
    border-radius: 9px;
}

/* world */

.clocks-digital-renderer.light.inner {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgba(255, 255, 255, 0.9),
                                      rgba(255, 255, 255, 0.2)
                                      );
    color: black;
}

.clocks-digital-renderer.light.inner:prelight {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgb(255, 255, 255),
                                      rgba(255, 255, 255, 0.3)
                                      );
}

.clocks-digital-renderer.dark.inner {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgba(255, 255, 255, 0.3),
                                      rgba(255, 255, 255, 0.1)
                                      );
    color: white;
}

.clocks-digital-renderer.dark.inner:prelight {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgba(255, 255, 255, 0.4),
                                      rgba(255, 255, 255, 0.15)
                                      );
}

/* alarms */

.clocks-digital-renderer.active {
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(rgb(223, 0, 0)), to(rgb(164, 0, 0)));
    color: white;
}

.clocks-digital-renderer.active:prelight {
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(rgb(223, 0, 0)), to(shade(rgb(164, 0, 0), 1.1)));
    color: white;
}

.clocks-digital-renderer.active.inner {
    background-color: transparent;
    background-image: none;
    color: white;
}

.clocks-go {
    background-image: linear-gradient(to bottom,
                                      @clocks_go_color_a,
                                      darker(@clocks_go_color_a) 70%
                                      );
    color: #ffffff;
    border-image: url("button-border-go.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

.clocks-go:hover {
    background-image: linear-gradient(to bottom,
                                      @clocks_go_color_b,
                                      darker(@clocks_go_color_b) 70%
                                      );
}

.clocks-go:active {
    background-image: linear-gradient(to bottom,
                                      darker(@clocks_go_color_a),
                                      @clocks_go_color_a
                                      );
    border-image: url("button-border-go-active.svg") 3 3 4 3 / 3 3 4 3 stretch;
}

.clocks-stop {
    background-image: linear-gradient(to bottom,
                                      @clocks_stop_color_a,
                                      darker(@clocks_stop_color_a) 70%
                                      );
    color: #ffffff;
    border-image: url("button-border-stop.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: transparent;
}

.clocks-stop:hover {
    background-image: linear-gradient(to bottom,
                                      @clocks_stop_color_b,
                                      darker(@clocks_stop_color_b) 70%
                                      );
}

.clocks-stop:active {
    background-image: linear-gradient(to bottom,
                                      darker(@clocks_stop_color_a),
                                      @clocks_stop_color_a
                                      );
    border-image: url("button-border-stop-active.svg") 3 3 4 3 / 3 3 4 3 stretch;
}

.view.clocks-laps {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.frame.clocks-laps-scroll {
    border-style: solid;
    border-color: @borders;
    border-width: 1px 0 0 0;
    border-radius: 0;
}

.clocks-laps column-header.button,
.clocks-laps column-header .button,
.clocks-laps column-header.button:insensitive,
.clocks-laps column-header .button:insensitive,
.clocks-laps column-header.button:hover,
.clocks-laps column-header .button:hover,
.clocks-laps column-header.button:last-child,
.clocks-laps column-header .button:last-child {
    border-image: none;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    background-color:shade(@theme_bg_color, 0.975);
}

.clocks-laps column-header.button:backdrop,
.clocks-laps column-header .button:backdrop {
    background-color: @theme_bg_color;
}
