@define-color clocks_go_color #006B09;
@define-color clocks_stop_color #ff0000;

.clocks-toolbar.toolbar {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.grey-bg {
    background-color: #f1f2f1
}

.clocks-go {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@clocks_go_color),
                                     to (darker (@clocks_go_color)));
    color: #ffffff;
    border-image: none;
    border-width: 0;
}

.clocks-stop {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@clocks_stop_color),
                                     to (darker (@clocks_stop_color)));
    color: #ffffff;
    border-image: none;
    border-width: 0;
}

