.clock-time {
	color: alpha(black, 0.8);
}

.none .clock-time {
	background: #f6f5f4;
}

.night .clock-time {
	background: #a0a2b7;
}

.astro .clock-time {
	background: #c6adaa;
}

.naut .clock-time {
	background: #ecb89c;
}

.civil .clock-time {
	background: #fae189;
}

.day .clock-time {
	background: #fcf7b0;
}
