window > stack:backdrop {
	background-color: mix(@theme_unfocused_fg_color, @theme_unfocused_bg_color, 0.95);
	box-shadow: none;
}

/* Shared */

.clocks-list {
	margin: 18px 6px;
}

.large-button {
	padding: 6px;
}

/* alarms */

row.snoozing {
	background: transparent -gtk-icontheme("alarm-symbolic") 65% 400%/48px 48px no-repeat;
	font-weight: bold;
}

.alarm-time {
	font-size: 2.5em;
	font-weight: 300;
}

.clocks-ampm-toggle-button {
	font-size: 18pt;
}

.clocks-standalone-label,
.clocks-ringing-label {
	font-size: 6em;
	font-weight: 300;
}

.clocks-ringing-title {
	font-size: 1.5em;
	font-weight: bold;
}

.clocks-secondary-standalone-label {
	font-size: 18pt;
}

.clocks-alarm-setup-time {
	font-size: 32pt;
}

/* Timer Panel */

.clocks-timer-label {
	font-size: 48pt;
}

.clocks-spinbutton {
	font-size: 48pt;
}

/* disguise insensitive spinbuttons as normal labels */

spinbutton.clocks-timer-label,
spinbutton.clocks-timer-label button,
spinbutton.clocks-timer-label entry {
	border-color: transparent;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

spinbutton.clocks-timer-label {
	color: @theme_fg_color;
}

spinbutton.clocks-timer-label button {
	color: transparent;
}

.timer-panel .timer-header {
	font-size: 20pt;
	font-weight: 300;
}

.timer-countdown {
	font-size: 40pt;
	font-weight: 300;
}

@keyframes clocks-blink {
	0% { color: @theme_fg_color; }
	100% { color: @accent_color; }
}

.timer-countdown.timer-paused {
	opacity: .55;
	animation-name: clocks-blink;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2);
	animation-duration: 1s;
}

.timer-countdown.timer-running {
	color: @accent_color;
}

/* Stopwatch Panel */
.lap-time {
	font-weight: bold;
}

.negative-lap {
	color: @destructive_color;
}

.positive-lap {
	color: @accent_color;
}

.stopped-stopwatch label,
.running-stopwatch label,
.paused-stopwatch label {
	font-size: 70px;
	font-weight: lighter;
}

.stopped-stopwatch .seconds-label {
	font-weight: 300;
}

.running-stopwatch .seconds-label,
.running-stopwatch .miliseconds-label {
	color: @accent_color;
}

.stopped-stopwatch .miliseconds-label,
.running-stopwatch .miliseconds-label,
.paused-stopwatch .miliseconds-label {
	font-size: 50px;
}

.running-stopwatch .seconds-label,
.paused-stopwatch .seconds-label {
	font-weight: 300;
}

/* World */

.clock-location {
	font-weight: bolder;
}

.clock-time {
	font-size: 2em;
	padding: 0.2em 0.5em;
	border-radius: 1em;
	color: alpha(black, 0.8);
	font-weight: 300;
	transition: 0.4s background ease-in;
}

.none .clock-time {
	background: #f6f5f4;
}

.night .clock-time {
	background: #a0a2b7;
}

.astro .clock-time {
	background: #c6adaa;
}

.naut .clock-time {
	background: #ecb89c;
}

.civil .clock-time {
	background: #FAE189;
}

.day .clock-time {
	background: #fcf7b0;
}

