.none .clock-time {
	background: alpha(currentColor, 0.2);
}

.night .clock-time {
	color: var(--blue-1);
}

.astro .clock-time,
.naut .clock-time {
	color: var(--orange-1);
}

.civil .clock-time,
.day .clock-time {
	color: var(--yellow-2);
	background: alpha(#cd9309, 0.25);
}
