window > stack {
    background-color: mix(@theme_fg_color, @theme_bg_color, 0.95);
    box-shadow: inset 0 5px 2px -6px black;
}

window > stack:backdrop {
    background-color: mix(@theme_unfocused_fg_color, @theme_unfocused_bg_color, 0.95);
    box-shadow: none;
}

/* alarms */

.alarm-tile,
.alarm-tile:backdrop {
    color: shade(@insensitive_fg_color,0.9);
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(shade(@insensitive_bg_color,0.9)), to(shade(@insensitive_bg_color,0.85)));
}

.tile.prelight .alarm-tile,
.tile.prelight .alarm-tile:backdrop {
    color: @insensitive_fg_color;
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(shade(@insensitive_bg_color,0.99)), to(shade(@insensitive_bg_color,0.9)));
}

.active .alarm-tile,
.active .alarm-tile:backdrop {
    color: white;
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(shade(@theme_selected_bg_color,1.2)), to(@theme_selected_bg_color));
}

.tile.prelight .active .alarm-tile,
.tile.prelight .active .alarm-tile:backdrop {
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(shade(@theme_selected_bg_color, 1.4)), to(@theme_selected_bg_color));
}

.snoozing .alarm-tile,
.snoozing .alarm-tile:backdrop {
    color: white;
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(@warning_color), to(shade(@warning_color,0.9)));
}

.tile.prelight .snoozing .alarm-tile,
.tile.prelight .snoozing .alarm-tile:backdrop {
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center bottom, 1.0,
                                    from(shade(@warning_color,1.1)), to(shade(@warning_color,0.99)));
}

.clocks-ampm-toggle-button {
    font-size: 18pt;
}

.clocks-standalone-label,
.clocks-ringing-label {
    font-size: 5em;
}

.clocks-secondary-standalone-label {
    font-size: 1.7em;
}

.clocks-button {
    font-size: 14pt;
}

.clocks-alarm-setup-time {
    font-size: 32pt;
}

.clocks-spinbutton {
    font-size: 48pt;
}

.clocks-timer-label {
    font-size: 48pt;
}

.clocks-analog-frame.trough {
    color: mix(@theme_fg_color, @theme_bg_color, 0.85);
}

.clocks-analog-frame.progress {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.clocks-analog-frame.progress-fast {
    color: @theme_fg_color;
}

.clocks-laps-panel:dir(ltr) {
    border-image: linear-gradient(to bottom,
                                  mix(@borders,@theme_bg_color,0.5),
                                  mix(@borders,@theme_bg_color,0.5))
                  0 0 0 1 / 20px 0px 20px 1px stretch;
}

.clocks-laps-panel:dir(rtl) {
    border-image: linear-gradient(to bottom,
                                  mix(@borders,@theme_bg_color,0.5),
                                  mix(@borders,@theme_bg_color,0.5))
                  0 1 0 0 / 20px 1px 20px 0px stretch;
}

.clocks-laps-panel list,
.clocks-laps-panel row {
    background-color: transparent;
}

.clocks-laps-panel row {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14pt;
    border-image: linear-gradient(to bottom,
                                  mix(@borders,@theme_bg_color,0.5),
                                  mix(@borders,@theme_bg_color,0.5))
                  0 0 1 0 / 0 20px 1px 20px stretch;
}

.clocks-laps-panel row:last-child {
    border-image: none;
    border-color: transparent;
}

.clocks-laps-panel .lap-time {
    font-weight: bold;
    padding-right: 20px;
}
/* Timer Panel */
/* disguise insensitive spinbuttons as normal labels */
.timer-list {
    border-radius: 6px;
}

spinbutton.clocks-timer-label,
spinbutton.clocks-timer-label button,
spinbutton.clocks-timer-label entry {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

spinbutton.clocks-timer-label {
    color: @theme_fg_color;
}

spinbutton.clocks-timer-label button {
    color: transparent;
}
.timer-panel .round-button {
  border-radius: 9999px;
}
.timer-panel .small-button {
  padding: 5px 9px
}
.timer-panel .large-button {
  padding: 12px 16px;
}
.timer-panel .timer-header {
  font-size: 20pt;
  font-weight: 700;
}
.timer-countdown {
  font-size: 40pt;
  color: #9E9DA1;
}

@keyframes clocks-blink {
    0% { color: #9E9DA1; }
    100% { color: #428be5; }
}

.timer-countdown.timer-paused {
  color: #9E9DA1;
  animation-name: clocks-blink;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 1s;
}
.timer-countdown.timer-running {
  color: #428be5;
}
/* Stopwatch Panel */
.stopwatch-panel .large-button {
    padding: 6px 32px;
}
.lap-time {
    font-weight: bold;
}

.negative-lap {
    color: #ED333B;
}
.positive-lap {
    color: #428be5;
}
.stopped-stopwatch label,
.running-stopwatch label,
.paused-stopwatch label {
    font-size: 70px;
    color: grey;
    font-weight: 200;
}

.stopped-stopwatch .seconds-label {
    font-weight: 300;
}

.running-stopwatch .seconds-label,
.running-stopwatch .miliseconds-label {
    color: #428be5;
}
.stopped-stopwatch .miliseconds-label,
.running-stopwatch .miliseconds-label,
.paused-stopwatch .miliseconds-label {
    font-size: 50px;
}
.running-stopwatch .seconds-label,
.paused-stopwatch .seconds-label {
    font-weight: 500;
}

.stopped-stopwatch .seconds-label,
.stopped-stopwatch .miliseconds-label,
.paused-stopwatch .seconds-label,
.paused-stopwatch .miliseconds-label {
    color: black;
}

.pill-button {
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
}
.pill-button:focus {
    -gtk-outline-radius: 9999px;
}

/* World */

.clock-title {
    font-size: 1.1em;
}

.clock-desc {
    font-size: 0.9em;
}

.clock-time {
    font-size: 2em;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    background: #e5a50a;
    color: #000000;
    font-weight: lighter;
}

